@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1600px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.hello__background {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hello__navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hello__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 620px;
          flex: 0 1 620px;
  margin: 0 auto;
  padding: 35px 0;
}
.hello__link {
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4d4959;
  font-weight: 700;
}
.hello__logo_mobile {
  display: none;
}
.hello__decor {
  color: #4d4959;
}

@media (max-width: 967px) {
  .hello__background {
    min-height: 800px;
  }
}
@media (max-width: 680px) {
  .hello__navigation {
    -webkit-box-shadow: 0px 1px 10px 0px #282f35;
            box-shadow: 0px 1px 10px 0px #282f35;
    position: fixed;
    min-height: 110px;
    z-index: 3;
    background: #282f35;
    opacity: 0.95;
  }
  .hello__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #282f35;
    -webkit-box-shadow: 0px 1px 10px 0px #282f35;
            box-shadow: 0px 1px 10px 0px #282f35;
    width: 100%;
    position: absolute;
    top: 100%;
  }
  .hello__decor {
    display: none;
  }
  .hello__logo {
    display: none;
  }
  .hello__logo_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hello__link {
    -webkit-animation: link 200ms linear 1 normal 0s forwards;
            animation: link 200ms linear 1 normal 0s forwards;
  }
  .hello .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
  }
}
@-webkit-keyframes link {
  0% {
    color: #64c29e;
    margin: -15px 0;
  }
  100% {
    padding: 20px 0;
    color: #64c29e;
  }
}
@keyframes link {
  0% {
    color: #64c29e;
    margin: -15px 0;
  }
  100% {
    padding: 20px 0;
    color: #64c29e;
  }
}
.burger {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.burger__flip-front, .burger__flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.burger__flip-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background: #282f35;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.burger__flip-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.description {
  background: #f7f7f7;
}
.description__body {
  max-width: 1080px;
  margin: 0 auto;
  padding: 118px 0 142px 0;
}
.description__icon {
  max-width: 52px;
  margin: 0 auto 35px auto;
}
.description__title {
  margin: 0 0 35px 0;
}
.description__title__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.description__title__image_big {
  height: 600px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
.description__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  text-align: center;
}

.title {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #353738;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
}

.text {
  font-size: 16px;
  line-height: 30px;
  color: #848789;
  text-align: justify;
}

.images__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.images__item {
  position: relative;
}
.images__item_wide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.666%;
          flex: 1 1 66.666%;
}
.images__item_vertical {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}
.images__large {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.images__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.images__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.images__icon {
  max-width: 100%;
  margin: 10% auto 28px auto;
}
.images__title {
  margin: 0 0 13px 0;
  padding: 0 15px;
}
.images__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0 67.5px;
}
.images__text::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50px;
  margin: 8% auto 10% auto;
  border: 1px solid #d7d7d7;
}
.images__small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.images__small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .images__text {
    margin: 0 10%;
  }
}
@media (max-width: 967px) {
  .images__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .images__item_vertical {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
  .images__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .images__description_last {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}
@media (max-width: 625px) {
  .images__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .images__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .images__text::after {
    margin: 10% auto 20% auto;
  }
  .images__small {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .images__small img {
    max-width: 100%;
  }
}
.arrow-down {
  position: relative;
  margin: 0 auto -10px auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.comments {
  background: #f7f7f7;
}
.comments__body {
  max-width: 1040px;
  margin: 0 auto;
  padding: 124px 0 68px 0;
}
.comments__icon {
  margin: 0 auto;
  max-width: 32px;
}
.comments__title {
  margin: 37px 0 27px 0;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #353738;
  font-weight: 700;
  text-align: center;
}
.comments__title span {
  font-size: 18px;
  letter-spacing: 2px;
  color: #b9bbbc;
  font-weight: 300;
  text-align: center;
}
.comments__text {
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin: 0 0 104px 0;
}
.comments__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 51px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comments__buttons a {
  border: 1px solid #a9afb3;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.comments__buttons a:hover {
  background: #a9afb3;
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shop__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.shop__link_wide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.shop__link:hover {
  background-color: #81ccaf;
}
.shop__link:hover .rollover {
  opacity: 1;
}
.shop__link:hover .shop__image {
  opacity: 0.2;
}
.shop__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.rollover {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.rollover__caption {
  text-align: center;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
.rollover__icon {
  margin: 10% auto;
}

@media (max-width: 625px) {
  .shop__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .shop__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .shop__image_wide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .shop__image img {
    max-width: 100%;
  }
}
.button {
  background: #282f35;
}
.button__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0;
}
.button__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 18px 56px;
  border: 1px solid #93979a;
}
.button__btn:hover {
  background: #fff;
  color: #282f35;
}

.feedback__body {
  max-width: 539px;
  margin: 0 auto;
  padding: 110px 0;
}
.feedback__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedback__logo {
  margin: 0 auto;
}
.feedback__title {
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-style: italic;
  text-align: center;
  margin: 39px 0 0 0;
}
.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedback__email {
  height: 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  margin: 35px 8px 0 8px;
  padding: 0 4px 0 28px;
  font-size: 20px;
  border: 1px solid #d3d6d9;
}
.feedback__email::-webkit-input-placeholder {
  opacity: 0.502;
  font-size: 20px;
  line-height: 24px;
  color: #929292;
  font-style: italic;
}
.feedback__email::-moz-placeholder {
  opacity: 0.502;
  font-size: 20px;
  line-height: 24px;
  color: #929292;
  font-style: italic;
}
.feedback__email:-ms-input-placeholder {
  opacity: 0.502;
  font-size: 20px;
  line-height: 24px;
  color: #929292;
  font-style: italic;
}
.feedback__email::-ms-input-placeholder {
  opacity: 0.502;
  font-size: 20px;
  line-height: 24px;
  color: #929292;
  font-style: italic;
}
.feedback__email::placeholder {
  opacity: 0.502;
  font-size: 20px;
  line-height: 24px;
  color: #929292;
  font-style: italic;
}
.feedback__submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 35px 0 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 70px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  background: #64c29e;
  padding: 21px 45px;
}
.feedback__submit:hover {
  background: #4ca885;
}

.footer {
  background: #f7f7f7;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}
.footer__text {
  padding: 50px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 264px;
          flex: 0 0 264px;
  margin: 0 auto;
}
.footer__org {
  font-size: 16px;
  line-height: 18px;
  color: #848789;
  font-weight: 700;
}
.footer__address {
  font-size: 14px;
  line-height: 18px;
  color: #848789;
  font-style: italic;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 136px;
          flex: 0 0 136px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__link {
  border-radius: 50%;
}
.footer__link:hover {
  opacity: 0.6;
}
.footer__link img {
  height: 34px;
  width: 35px;
  border-radius: 50%;
}
.footer__logo {
  margin: 0 auto;
  padding: 50px 0;
  font-size: 16px;
  line-height: 18px;
  color: #848789;
  font-style: italic;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 264px;
          flex: 0 0 264px;
  text-align: center;
}
.footer__logo::after {
  content: " ";
  background: url("../img/icons/LogoFooter.svg") right no-repeat;
  padding: 10px 0 10px 65px;
}

@media (max-width: 429px) {
  .footer__text {
    text-align: center;
  }
}